header, section, footer, aside, nav, article {
    display: block;
}

html, body {
    margin: 5px 0 0 0;
    padding: 0;
}

.Mruntime {
    position: absolute;
    left: 85%;
    top: 0;
    font-weight: bold;
    font-size: small;
}

.Mruntime:before {
    content: 'Сгенерировано за: ';
}

#container {
    border-radius: 3px;
    line-height: 1.4;
    text-shadow: none;
    background: #eee;
    padding: 3px;
    color: #333;
    margin: auto;
    width: 700px;
}

#top {
    background: #eaeaea;
    border: 1px solid #cacaca;
    border-bottom: 0 none;
    font-weight: bold;
    line-height: 1.7;
}

#top span {
    font-size: 30px;
    margin-left: 20px;
}

#content {
    background: #fff;
    border: 1px solid #cacaca;
    border-bottom: 0 none;
    padding: 10px 0 30px 0;
    font-size: 15px;
    line-height: 1.7;
}

#footer {
    text-align: center;
    background: #fff;
    border: 1px solid #cacaca;
    font-size: 15px;
    line-height: 1.7;
}

.menu {
    background: #eee;
    border-radius: 3px;
    padding-left: 10px;
    margin-bottom: 20px;
}

label {
    min-width: 100px;
    display: inline-block;
}